/* ============= Geral ============= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --primary-color: rgb(1, 56, 159);
    --secondary-color: rgb(148, 185, 255);
    --img-color: rgb(1, 56, 159);
    --headline: rgb(255, 255, 255);
    --paragraph: rgb(255, 255, 255);
    --backgroud-white: rgb(255, 255, 255);
    --whats-color: rgb(0, 133, 110);
    --border-black: rgb(0, 0, 0);

    --nav-height: 10rem;

    font-size: 62.5%; /* 1 rem = 10px*/
}

::-webkit-scrollbar{
    width: 0px; /* retira a barra de rolagem mas permite que a continue funcionando */ 
}

#final-da-pagina{
    background-color: purple;
}



html {
    scroll-behavior: smooth;
}

body {
    
    font-family: 'DM Sans';
    font-size: 1.2rem;
    text-align: center;

    overflow: overlay;

    background-color: var(--img-color);

    background-image: url('../imagens/img-fundo.svg');
    background-size: cover;
    background-position: center center;

}

.wrapper {
    width: 37.5rem;   
    margin-inline: auto;    
}

ul {
    list-style: none;
}

/* ============= Header ============= */

header {
    margin-top: calc(4.1rem + var(--nav-height));
}

header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: 1.2rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--headline);
    line-height: 110%;

    margin-bottom: 2rem;

}

h3 {
    font-size: 1.6rem;
    color: var(--headline);
    line-height: 110%;

    margin-bottom: 1.6rem;
}

p {
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--headline);
    margin-bottom: 3.2rem;
}

.img-graphic-celular {
    height: 25rem;
    margin-bottom: 3.2rem;
  
    position: relative;
    right: 1.3rem;
    overflow: hidden;

}

section.sobre-celular h1,
section.sobre-celular h2,
section.sobre-celular h3,
section.sobre-celular p {
    color: var(--primary-color);    
    
}

section.sobre-celular {
    background-color: var(--backgroud-white);

}

.botao-whats-cell {
    color: white;
    background-color: var(--whats-color);
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    
    height: 6.2rem;
    width: 27rem;
    font-family: 'DM Sans';  
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-left: auto;
    margin-right: auto;

}

.sobre-celular {
    margin-bottom: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 0.4rem solid var(--border-black);
    border-radius: 2rem;

}

#logo-sobre-cel {
    width: 37.5rem;
    overflow: hidden;
}

.sobre-celular p {
    padding: 2rem;

}

.sobre-celular-info {
 
    border: 0.4rem solid var(--secondary-color);
    border-radius: 2rem;

    margin-inline: auto;
    margin-bottom: 4rem;

    padding: 0.5rem;

}

.sobre-celular h2 {
    margin-top: 3rem;
}

.sobre-celular-info h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 2rem;

} 

.sobre-celular-info p {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30rem;

    font-family: 'DM Sans';  
    font-size: 1.4rem;

    margin-inline: auto;

    text-align: left;

}

.nossa-quipe-celular {
    background-color: var(--secondary-color);
}

.produto-servico-celular {
    background-color: var(--secondary-color);
}


.portfolio-celular {
    width: 37.5rem;

    margin-top: 3rem;
    background-color: var(--backgroud-white);

    border: 0.4rem solid var(--border-black);
    border-radius: 2rem;
}

.portfolio-celular h2 {
    color: var(--primary-color);
    margin-top: 3rem;
    
}


.img-portfolio-celular img {
    width: 60%;
    margin: 3rem auto;
    transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos no transform */
}

/*.img-portfolio-celular:hover img {
    "Move a imagem 20 pixels para cima quando o mouse estiver sobre ela - deixar como comentário"
    transform: translateY(-20px); 
}*/

/* ============= Navigation ============= */

nav {
    display: flex;
    opacity: 90%;
   
    padding-right: 2rem;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    width: 100vw;
    background-color: var(--secondary-color);
}

nav.scroll svg path {
    fill: rgba(0, 0, 0, 0.759);
    stroke: rgba(0, 0, 0, 0.759);    
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/* ============= Menu expended ============= */

body.menu-expended {
    overflow: hidden;
}

body.menu-expended > :not(nav) {
    display: none;
}

.menu,
.close-menu,
body.menu-expended .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expended .menu,
body.menu-expended .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expended .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);
}

body.menu-expended nav {
    position: relative;
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;

}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu .button-menu {
    background-color: var(--headline);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    list-style: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--primary-color);    
    
    display: inline-block;
    padding: 1.6rem 3.2rem;       
    margin-top: 4.8rem;
    margin-bottom: 8rem;

}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

}

body.menu-expended .logo-menu-celular,
body.menu-expended button {
    position: relative;
    z-index: 100;
}